<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/SocialNetwork</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.interests">root</property> <!-- Added connection on Interests Entity-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">true</property>

        <property name="format_sql">true</property>


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>

        <!-- Mapping files will go here.... -->
        <mapping class="com.bionic.socialNetwork.models.User"/>
        <mapping class="com.bionic.socialNetwork.models.Password"/>
        <mapping class="com.bionic.socialNetwork.models.Post"/>
        <mapping class="com.bionic.socialNetwork.models.Administrator" />
        <mapping class="com.bionic.socialNetwork.models.BackOfficeAdmin" />
        <mapping class="com.bionic.socialNetwork.models.Interest" />
        <mapping class="com.bionic.socialNetwork.models.PrivateMessage" />
    </session-factory>
</hibernate-configuration>