.user{
	margin-bottom: 30px;
	.user-image{
		border: 1px solid $border-color;
		@include box-sizing(border-box);
		padding: 4px;
		width: 200px;
		float: left;
		.change-user-photo{
			// ba
		}
	}

	.user-info{
		margin-left: 220px;
	}

	.name{
		padding: 5px 0 10px;
		span{
			font-size: 32px;
		}
	}
	.position{}
}

