.user-list{
	width: 500px;
	margin: auto;
	.user-entry{
		border-bottom: 1px solid $border-color;
		padding: 20px 10px;
		margin-bottom: 10px;
		@include box-sizing(border-box);
	}
	.image{
		float: left;
	}
	.textual{
		margin-left: 100px;
	}
	.user-name span,
	.user-department span,
	.user-position span,
	.user-age span{
		font-size: 14px;
		font-weight: normal;
	}
	.user-name,
	.user-department,
	.user-position,
	.user-age{
		font-weight: bold;
	}

	.btn-add{
		border: 1px solid #987656;
		@include border-radius(5px);
		padding: 10px 20px;
		display: inline-block;
		float: right;
		text-decoration: none;
		color: #000;
		&:hover{
			background: #000;
			color: #fff; 

		}
	}
	.user-search{
		border: 1px solid #777;
		@include border-radius(10px);
		padding: 10px 40px;
		font-size: 26px;
		width: 100%;
		@include box-sizing(border-box);
	}
}