.wall{
	.wall-posts-quentity{
		background: $wall-header-bg;
		padding: 5px 20px;
		color: #fff;
		margin-bottom: 10px;
	}

	.new-wall-post{
		padding: 10px 20px;
		margin-bottom: 20px;
		border: 1px solid $wall-border-color;
		border-left: none;
		border-right: none;
		@include box-sizing(border-box);
		background: $wall-new-post-bg;
		textarea{
			border: 1px solid $border-color;
			width: 100%;
			@include box-sizing(border-box);
			padding: 5px 5px;
			resize: none;
			min-height: 70px;
		}
		.wall-submit{
			float: right;
			@extend .button;
			background: $btn-bg;
			color: $btn-color;
			@include border-radius(0px);
			&.inactive{
				background: $btn-bg-inactive;
				&:hover{
					background: $btn-bg-inactive;
				}
			}
			&:hover{
				background: $btn-bg-hover;
			}
			&:active{
				background: $btn-bg-active;
			}
		}
	}
}