// .wrapper{
// 	max-width: $desktop;
// 	margin: 0 auto;
// }

// @import "susy";

// $total-columns : 12;
// $column-width  : 54px;
// $gutter-width  : 20px;
// $grid-padding  : 40px;


.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

body{
	font-family: $base-font-family;
	font-size: $font-size;
	line-height: $text-line-height;
}


h1,
h2,
h3{
	line-height: 1.3;
}

h1{
	font-size: 32px;
	margin-bottom: 10px;
}

h2{
	font-size: 20px;
	margin-bottom: 15px;	
}

textarea{
	font-family: $base-font-family;
	font-size: 12px;
}

img{
	width: 100%;
	display: block;
}

a{
	color: $link-color;
	text-decoration: none;
	@include transition(color 0.3s);
	&:hover{
		color: $link-color-hover;
	}
}

.wraper{
	width: 960px;
	margin: auto;
	padding: 0 20px;
}

#aside{
	width: 25%;
	float: left;
}

#content{
	width: 75%;
	float: left;
}


.title{
	font-size: 50px;
	text-align: center;
	position: relative;
	display: block;
	position: relative;
	&.decorated{
		padding-bottom: 60px;
		&:after{
			content: '';
			position: absolute;
			width: 70px;
			height: 0;
			left: 50%;
			bottom: 40px;
			margin-left: -35px;
			border-bottom: 2px solid;
			text-align: center;
		}
	}
}


.wait{
	text-align: center;
	clear: both;
	display: block;
	padding-top: 20px;
	img{
		width: auto;
		margin: auto;
	}
}

.more-container{
	clear: both;
	text-align: center;
	padding: 30px 0;
	.load-more{
		@extend .main-button;
	}
}


.post-photo{
	width: 80px;
	max-height: 100px;
	float: left;
	border: 1px solid $border-color;
	overflow: hidden;
	img{
		@include transition(all 0.2s);
		&:hover{
			@include transform(scale(1.2, 1.2));
		}
	}
}

.post-meta{
	font-size: 10px;
	color: $text-light-color;
}

.tab{
	display: inline-block;
	padding: 5px 20px;
	background: $tab-bg;
	color: $tab-color;
	border: 1px solid $tab-bg-active;
	&.active{
		background: $tab-bg-active;
		color: $tab-color-active;
		border: 1px solid $tab-bg-active;
	}
}

.main-button{
	@extend .button;
	@include border-radius(0);
	background: $btn-bg;
	color: $btn-color;
	&:hover{
		background: $btn-bg-hover;
	}
	&:active{
		background: $btn-bg-active;
	}
}


/*Added by JS*/
.button-inactive{
	background: $btn-bg-inactive!important;
	cursor: default!important;
	&:hover{
		background: $btn-bg-inactive!important;
	}
}


.unbutton{
	background: transparent!important;
	border-color: transparent!important;
	color: #222!important;
	padding-left: 0!important;
	padding-right: 0!important;
	float: none!important;
}

.rotateY{
	@include transform( rotateX(360deg) );
}
	
.add-transition{
	@include transition(all .5s);	
}

.input-error{
	border-color: $error-color!important;
	box-shadow: 0 0 4px rgba($error-color, .6)!important;
}