$main-color: #004A78;
$text-color: #000;
$table-color: #000;

$border-color: #ccc;




$text-light-color: #999;

$btn-color: #FFF;
$btn-color-hover: #FFF;
$btn-bg: #008AB8;
$btn-bg-hover: #004A78;
$btn-bg-active: #002A58;
$btn-bg-inactive: #999;

$tab-color: #00aAc8;
$tab-bg: #fff;
$tab-color-active: #fff;
$tab-bg-active: #00aAc8;

$link-color: #004A58;
$link-color-hover: #00aAc8;

$wall-header-bg: #004A58;
$wall-new-post-bg: #FCFDFD;
$wall-border-color: #004A58;
$wall-tree-color: #E2F1FF;

$focus-color: #00aAc8;
$error-color: #f33;